.body-chatRoom {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  overflow-y: auto;
}

.chat-room-chatRoom {
  width: auto;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 98vh;
}

.chat-header-chatRoom {
  background-color: #f9f9f9;
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.charaImg-chatRoom {
  width: 10vh;
  height: 10vh;
  border-radius: 50px;
}

.chat-header-chatRoom button {
  background-color: #f9f9f9;
  border: none;
}

.chat-header-chatRoom p {
  font-size: 1.1rem;
  margin: 10px;
}

.chat-chara-description-chatRoom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50vh;
  height: auto;
  background-color: #f9f9f9;
}


.chat-messages-chatRoom {
  flex: 1;
  padding: 15px;
  background-color: #f9f9f9;
}

.message-chatRoom {
  display: flex;
  margin-bottom: 10px;
}

.message-chatRoom.user {
  justify-content: flex-end;
}

.message-chatRoom.ai {
  justify-content: flex-start;
}

.message-bubble-chatRoom {
  margin-bottom: 3vh;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-bubble-chatRoom.user {
  margin-right: 10vh;
  background-color: #f5c0c0;
  color: #333;
  text-align: right;
}

.message-bubble-chatRoom.ai {
  margin-left: 10vh;
  background-color: #ffec99;
  color: #333;
  text-align: left;
}

.chat-charInfo-chatRoom {
  margin-left: 5vh;
  display: flex;
  align-items: center; 
  gap: 2vh;           
  margin-bottom: 1vh; 
  background-color: #f9f9f9;
  padding: 1vh;       
  border-radius: 8px;  
}

.chat-charInfo-chatRoom img {
  width: 3.4vh;
  height: 3.4vh;
  border-radius: 50%; 
}

.chat-charInfo-chatRoom p {
  margin: 0;           
  font-size: 1rem;     
  line-height: 3.4vh; 
}


.chat-input-chatRoom {
  display: flex;
  align-items: center; /* 요소를 세로 가운데 정렬 */
  border-top: 1px solid #ddd;
  background-color: #ddd;
  padding: 10px 1vh;
}

.chat-input-chatRoom input {
  flex: 1; 
  padding: 10px;
  padding-left: 30px;
  border: 1px solid #ccc;
  border-radius: 50px;
  height: 3vh;
  margin-left: 50px;
  width: auto; /* 가로 크기 조정 가능 */
}

.chat-input-chatRoom button {
  width: 11vh;
  height: 5vh;
  margin-left: 30px;  
  padding: 10px 15px;
  background-color: #ffb3b3;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.chat-input-chatRoom button:hover {
  background-color: #f78787;
}

.voice-button-chatRoom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-voiceButton-chatRoom {
  margin-left: 20px;
  margin-right: 20px;
  width: 5vh;
  height: 5vh;
  background-color: #f9f9f9;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-voiceButton-chatRoom img {
  position: absolute;
  width: 2.5vh;
  height: 2.5vh;
}


